{% extends "layouts/base.html" %}

{% block title %} UI Buttons {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .row-top-buffer { margin-top:20px; }
    .row-mid-buffer { margin-top:-20px; }
    .card-mid-buffer { margin-top:10px; }
    .btn-buffer { margin-top:2px; margin-bottom:2px; }
    .btn-block-custom { width: 100%; }

    .card-fill-all-space {
        #border: 1px solid #444;
        height: 100%;
        width: 100%;
    }

    .btn-service {} // Пустой класс для переключения селекторов
    .btn-robot {} // Пустой класс для переключения селекторов
    .btn-project {} // Пустой класс для переключения селекторов
</style>


{% endblock stylesheets %}

{% block content %}

<!-- Хлебокрошки  -->
<div class="py-4">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item">
                <a href="#">
                    <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                    </svg>
                </a>
            </li>
            <li class="breadcrumb-item active"><a href="#">Основной дашборд</a></li>
        </ol>
    </nav>
</div>

<!-- Кнопка фильтра  -->
<div class="row d-block d-xl-flex align-items-top">
    <div class="col-1 col-xl-1 px-xl-0 offset-md-11 text-end mb-2">
		<span>
			<button class="btn btn-icon-only btn-outline-tertiary d-inline-flex align-items-center" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false"
                    aria-controls="collapseFilter">
			  <i>{{font_awesome.render_icon("fas fa-xl fa-filter")}}</i>
			</button>
		</span>
    </div>
</div>

<!-- Область фильтра  -->
<div class="row mb-4 collapse show" id="collapseFilter">
    <div class="col-12 col-sm-12 col-xl-12">
        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-top mb-4">
                    <div class="col-3 col-xl-3 px-xl-0 offset-xl-9">
                        <div class="input-group mb-2">
                               <span class="input-group-text fw-extrabold">
                                      Начало&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  </span>
                            <input class="form-control" id="start-date" type="date" placeholder="dd/mm/yyyy"
                                   required/>
                            <input class="form-control" id="start-time" type="time" required value="00:00"/>
                        </div>
                        <div class="input-group">
                               <span class="input-group-text fw-extrabold">
                                      Завершение
                                  </span>
                            <input class="form-control" id="finish-date" type="date" placeholder="dd/mm/yyyy"
                                   required/>
                            <input class="form-control" id="finish-time" type="time" required value="00:00"/>
                        </div>
                    </div>

                </div>

                <div class="row d-block d-xl-flex align-items-top">
                    <div class="col-1 col-xl-1 px-xl-0 offset-md-11">
                        <button class="btn btn-tertiary" type="button" id="apply-filter">Применить</button>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Область бизнес показателей  -->
<div class="row mb-4">
    <div class="col-12 col-sm-6 col-xl-3">
        <div class="card border-0 shadow card-fill-all-space">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-12 px-xl-0">
                        <div class="d-none d-sm-block">
                            {% if context.current_process %}
                                <h2 class="h6 text-gray-400 mb-0">SLA проекта {{ context.current_process.name }}</h2>
                                <h3 class="fw-extrabold text-success mb-2">{{ '%.2f' % context.current_process.sla_cur }}%</h3>
                            {% else %}
                                <h2 class="h6 text-gray-400 mb-0">SLA проектов</h2>
                                <h3 class="fw-extrabold text-success mb-2">{{ '%.2f' % context.global_sla.sla_cur }}%</h3>
                            {% endif %}
                        </div>
                        <small class="d-flex align-items-center text-gray-500">
                            <span id="start-date-display"></span>&nbsp;-&nbsp;<span id="finish-date-display"></span>
                            <i>{{font_awesome.render_icon("fas fa-globe")}}</i>
                            &nbsp;Москва
                        </small>
                        <div class="small d-flex mt-1">
                            <div>Изменение относительно предыдущего периода</div>
                                {% if context.current_process %}
                                    {% if context.current_process.sla_cur > context.current_process.sla_prev %}
                                        <span class="text-success fw-bolder">{{ '%.2f' % (context.current_process.sla_cur - context.current_process.sla_prev) }}%</span>
                                    {% else %}
                                        <span class="text-danger fw-bolder">{{ '%.2f' % (context.current_process.sla_cur - context.current_process.sla_prev) }}%</span>
                                    {% endif %}
                                {% else %}
                                    {% if context.global_sla.sla_cur > context.global_sla.sla_prev %}
                                        <span class="text-success fw-bolder">{{ '%.2f' % (context.global_sla.sla_cur - context.global_sla.sla_prev) }}%</span>
                                    {% else %}
                                        <span class="text-danger fw-bolder">{{ '%.2f' % (context.global_sla.sla_cur - context.global_sla.sla_prev) }}%</span>
                                    {% endif %}
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-xl-3">
        <div class="card border-0 shadow card-fill-all-space">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-12 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">Дневной SLA</h2>
                            {% if context.current_process %}
                                <h3 class="fw-extrabold text-{% if context.current_process.sla_daily < context.sla_target %}warning{% else %}success{% endif %} mb-2">{{ '%.2f' % context.current_process.sla_daily }}%</h3>
                            {% else %}
                                <h3 class="fw-extrabold text-{% if context.global_sla.sla_daily < context.sla_target %}warning{% else %}success{% endif %} mb-2">{{ '%.2f' % context.global_sla.sla_daily }}%</h3>
                            {% endif %}
                        </div>
                        <div class="d-flex align-items-center text-gray-500">
                            <div>
                                При целевом показателе
                                <span class="text-success fw-bolder">{{ '%.2f' % context.sla_target }}%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-xl-6">
        <div class="card border-0 shadow card-fill-all-space">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-12 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">TODO, Верхнеуровневая аналитика</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Область селекторов -->
<div class="row mb-2">
    <div class="col-12 col-sm-6 col-xl-3">
        <div class="card border-0 shadow card-fill-all-space">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-12 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">Состояние проектов</h2>
                            <span class="fw-extrabold text-success mb-2">{{ context.projects.success }} OK</span>
                            <span>&nbsp;/&nbsp;</span>
                            <span></span><span class="fw-extrabold text-secondary mb-2">{{ context.projects.warning }} Warning</span>
                            <span>&nbsp;/&nbsp;</span>
                            <span class="fw-extrabold text-danger mb-2">{{ context.projects.danger }} Critical</span>
                        </div>
                    </div>
                    <div class="card-mid-buffer"></div>
                    <div class="col-12 col-xl-12 px-xl-0">
                        <div class="d-none d-sm-block">
                            {% for project in context.projects.processes %}
                                <button class="btn btn-pill btn-outline-{{ project.current_state }} btn-buffer btn-project {% if context.current_process and project.process_id == context.current_process.process_id %}active{% endif %}"
                                        id="btn_project_id_{{ project.project_id }}"
                                        type="button"
                                        onclick="clickProjectLink('btn_project_id_{{ project.project_id }}', 'project_id_{{ project.project_id}}', 'project_collapsable_link')"
                                >
                                    <span hidden id="project_id_{{ project.project_id}}">{{ project.project_id }}</span>
                                    {{ project.name }}
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 col-xl-12 px-xl-0 text-end" style="display: none;" id="project_collapsable_link">
                        <hr/>
                        <a href="./mvp-main-dashboard.html" class="text-info me-1">
                            <span class="small">Перейти к выбранному проекту</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-xl-6">
        <div class="card border-0 shadow card-fill-all-space">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-12 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">Состояние сервисов</h2>
                            <span class="fw-extrabold text-success mb-2">{{ context.services.success }} OK</span>
                            <span>&nbsp;/&nbsp;</span>
                            <span></span><span class="fw-extrabold text-secondary mb-2">{{ context.services.warning }} Warning</span>
                            <span>&nbsp;/&nbsp;</span>
                            <span class="fw-extrabold text-danger mb-2">{{ context.services.danger }} Critical</span>
                        </div>
                    </div>
                    <div class="card-mid-buffer"></div>
                    <div class="col-12 col-xl-12 px-xl-0">
                        <div class="d-none d-sm-block">
                            {% for service in context.services.services %}
                                <button class="btn btn-pill btn-outline-{{ service.current_state }} btn-buffer btn-service"
                                        id="btn_service_id_{{ service.service_id }}"
                                        type="button"
                                        onclick="clickServiceLink('btn_service_id_{{ service.service_id }}', 'service_id_{{ service.service_id}}', 'service_collapsable_link')"
                                >
                                    <span hidden id="service_id_{{ service.service_id }}">{{ service.service_id }}</span>
                                    {{ service.name }}
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 col-xl-12 px-xl-0 text-end" style="display: none;" id="service_collapsable_link">
                        <hr/>
                        <a href="./mvp-services.html" class="text-info me-1">
                            <span class="small">Перейти к выбранному сервису</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-xl-3">
        <div class="card border-0 shadow card-fill-all-space">
            <div class="card-body">
                <div class="row d-block d-xl-flex align-items-center">
                    <div class="col-12 col-xl-12 px-xl-0">
                        <div class="d-none d-sm-block">
                            <h2 class="h6 text-gray-400 mb-0">Доступность роботов</h2>
                            <span class="fw-extrabold text-success mb-2">{{ context.robots.success }} OK</span>
                            <span>&nbsp;/&nbsp;</span>
                            <span></span><span class="fw-extrabold text-secondary mb-2">{{ context.robots.warning }} Warning</span>
                            <span>&nbsp;/&nbsp;</span>
                            <span class="fw-extrabold text-danger mb-2">{{ context.robots.danger }} Critical</span>
                        </div>
                    </div>
                    <div class="card-mid-buffer"></div>
                    <div class="col-12 col-xl-12 px-xl-0">
                        <div class="d-none d-sm-block">
                            {% for robot in context.robots.robots %}
                                <button class="btn btn-pill btn-outline-{{ robot.current_state }} btn-buffer btn-robot"
                                        id="btn_robot_id_{{ robot.robot_id }}"
                                        type="button"
                                        onclick="clickRobotLink('btn_robot_id_{{ robot.robot_id }}', 'robot_id_{{ robot.robot_id}}', 'robot_collapsable_link')"
                                >
                                    <span hidden id="robot_id_{{ robot.robot_id}}">{{ robot.robot_id }}</span>
                                    {{ robot.name }}
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 col-xl-12 px-xl-0 text-end" style="display: none;" id="robot_collapsable_link">
                        <hr/>
                        <a href="./mvp-robots.html" class="text-info me-1">
                            <span class="small">Перейти к выбранному роботу</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Кнопка фильтра первого ряда диаграмм -->
<div class="row d-block d-xl-flex align-items-top">
    <div class="col-1 col-xl-2 px-xl-0 offset-md-10 text-end mb-2">
        TODO, название для ряда
        <span>
			<button class="btn btn-link text-tertiary d-inline-flex align-items-center" type="button"
                    data-bs-toggle="collapse" data-bs-target="#firstRowCharts" aria-expanded="false"
                    aria-controls="firstRowCharts">
			  <i>{{font_awesome.render_icon("fas fa-chevron-down")}}</i>
			</button>
		</span>
    </div>
</div>

<!-- Первый ряд диаграмм -->
<!-- Первый ряд диаграмм -->
<div class="row mb-2 collapse show" id="firstRowCharts">
    <div class="col-12 col-sm-12 col-xl-6 mb-2">
        <div class="card border-0 shadow card-fill-all-space">
            <div class="card-body">
                <h2 class="h6 text-gray-400 mb-0">Транзакции и ошибки выполнения по сервисам</h2>
                <div class="card-mid-buffer"></div>
                <div>
                    <canvas width="100%" height="35%" id="transactionTimeVsErrsChart01"></canvas>
                </div>
            </div>
        </div>
    </div>



    <div class="col-12 col-sm-12 col-xl-6 mb-2">
        <div class="card border-0 shadow card-fill-all-space">
            <div class="card-body">
                <h2 class="h6 text-gray-400 mb-0">Сводные метрики выполнения транзакций</h2>
                <div class="card-mid-buffer"></div>
                <div>
                    <canvas width="100%" height="35%" id="chartTransactionPerf01"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-xl-12">
        <div class="card border-0 shadow card-fill-all-space">
            <div class="card-body">
                <h2 class="h6 text-gray-400 mb-0">Среднее время выполнения транзакций</h2>
                <div class="card-mid-buffer"></div>
                <div>
                      <canvas width="100%" height="20%" id="chartHeatmap01"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Кнопка фильтра второго ряда диаграмм -->
<div class="row d-block d-xl-flex align-items-top">
    <div class="col-1 col-xl-2 px-xl-0 offset-md-10 text-end mb-2">
        TODO, название для ряда
        <span>
			<button class="btn btn-link text-tertiary d-inline-flex align-items-center" type="button"
                    data-bs-toggle="collapse" data-bs-target="#secondRowCharts" aria-expanded="false"
                    aria-controls="secondRowCharts">
			  <i>{{font_awesome.render_icon("fas fa-chevron-down")}}</i>
			</button>
		</span>
    </div>
</div>

<!-- Второй ряд диаграмм -->
<div class="row mb-5 collapse show" id="secondRowCharts">
</div>

<!-- Кнопка коллапса таблицы событий -->
<div class="row d-block d-xl-flex align-items-top">
    <div class="col-1 col-xl-2 px-xl-0 offset-md-10 text-end mb-2">
        TODO, название для ряда
        <span>
			<button class="btn btn-link text-tertiary d-inline-flex align-items-center" type="button"
                    data-bs-toggle="collapse" data-bs-target="#eventTable" aria-expanded="false"
                    aria-controls="eventTable">
			  <i>{{font_awesome.render_icon("fas fa-chevron-down")}}</i>
			</button>
		</span>
    </div>
</div>

<div class="row collapse show" id="eventTable">
    <div class="col-12 col-sm-12 col-xl-12 mb-12">
        <div class="card border-0 shadow">
            <div class="card-body">
                <h2 class="h6 text-gray-400 mb-0">Последние события</h2>
                <div class="card-mid-buffer"></div>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0 rounded hover"
                           id="dashboard-events">
                        <thead>
                        <tr>
                            <th data-field="datetime">Время</th>
                            <th data-field="severity">Критичность</th>
                            <th data-field="event">Событие</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for run in context.runs %}
                            {% if run.runresult == "OK" %}
                                <tr class="table-info">
                                  <td>
                                    <a href="/mvp-step-run.html?run_id={{ run.transactionrunid }}">
                                      <span class="text-indigo">
                                        {{ str(run.runstart).split('.')[0] }}
                                      </span>
                                    </a>
                                  </td>
                                    <td>
                                      Information
                                    </td>
                                    <td>
                                        Транзакция <a href="/mvp-transaction.html?transaction_id={{ run.transactionid }}" class="dynamic-link">
                                          <span class="text-indigo">
                                            {{ run.transaction }}
                                          </span>
                                        </a> выполнена успешно
                                    </td>
                            {% elif run.runresult == "WARNING" %}
                                <tr class="table-warning">
                                    <td>
                                        <a href="/mvp-step-run.html?run_id={{ run.transactionrunid }}">
                                        <span class="text-warning">
                                            {{ str(run.runstart).split('.')[0] }}
                                        </span>
                                        </a>
                                    </td>
                                        <td>
                                        Warning
                                        </td>
                                        <td>
                                        Транзакция <a href="/mvp-transaction.html?transaction_id={{ run.transactionid }}" class="dynamic-link">
                                          <span class="text-indigo">
                                            {{ run.transaction }}
                                          </span>
                                        </a> превысила расчетное время работы
                                        </td>
                            {% else %}
                                <tr class="table-danger">
                                    <td>
                                        <a href="/mvp-step-run.html?run_id={{ run.transactionrunid }}">
                                        <span class="text-danger">
                                            {{ str(run.runstart).split('.')[0] }}
                                        </span>
                                        </a>
                                    </td>
                                        <td>
                                        Critical
                                        </td>
                                        <td>
                                        Транзакция <a href="/mvp-transaction.html?transaction_id={{ run.transactionid }}" class="dynamic-link">
                                          <span class="text-indigo">
                                            {{ run.transaction }}
                                          </span>
                                        </a> завершилась с ошибкой
                                        </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ config.ASSETS_ROOT }}/js/primoart-charts/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/primoart-charts/mvp-heatmap-charts.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/primoart-charts/mvp-transaction-charts.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/primoart-dashboards/main-dashboard-animations.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/primoart-datatables/primoart-datatables.js"></script>
<!-- dynamic links in table -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    const urlParams = new URLSearchParams(window.location.search);
    const links = document.querySelectorAll('.dynamic-link');

    links.forEach(link => {
        urlParams.forEach((value, key) => {
            if (['start_date', 'start_time', 'finish_date', 'finish_time'].includes(key)) {
                new_link = addOrUpdateParam(link.href, key, value);
                link.href = new_link;
            }
        });
    });

    function addOrUpdateParam(url, key, value) {
        let uri = new URL(url);
        uri.searchParams.set(key, value);
        return uri.toString();
    }
});
</script>

<script>
    // handle on window load
    $(function() {
        const url = new URL(window.location.href);
        const startDate = url.searchParams.get('start_date');
        const startTime = url.searchParams.get('start_time');
        const finishDate = url.searchParams.get('finish_date');
        const finishTime = url.searchParams.get('finish_time');
        if (startDate && startTime && finishDate && finishTime) {
            $('#start-date').val(startDate);
            $('#start-time').val(startTime);
            $('#finish-date').val(finishDate);
            $('#finish-time').val(finishTime);
        }
    });

    // trigger on apply filter button click and receive projectId and serviceId from selectors and reload page with GET params
    $('#apply-filter').click(function() {
        const startDate = $('#start-date').val();
        const startTime = $('#start-time').val();
        const finishDate = $('#finish-date').val();
        const finishTime = $('#finish-time').val();
        const url = new URL(window.location.href);
        url.searchParams.set('start_date', startDate);
        url.searchParams.set('start_time', startTime);
        url.searchParams.set('finish_date', finishDate);
        url.searchParams.set('finish_time', finishTime);
        window.location.href = url.href;
    });
</script>
<script>
    $(function() {
        console.log("Page loaded!");

        sandboxMainDashTable.init();

        // too many code just to get current time and time 2 weeks ago...
        // sry, couldn't find shorter way
        function convertTime(time){
            const nowMsk = new Date(time.toLocaleString('en-US', { timeZone: "Indian/Chagos" }));
            const nowStr = nowMsk.toJSON();
            const parts = nowStr.split('T');
            return parts[0] + ' ' + parts[1].slice(0, 8) + '.' + parts[1].slice(9,12) + '000';
        }

        let start = new Date();
        let end = new Date();
        start.setDate(start.getDate() - 14);

        const url = new URL(window.location.href);
        const startDateUrl = url.searchParams.get('start_date');
        let startTimeUrl = url.searchParams.get('start_time');
        // if no time, set 00:00
        if (!startTimeUrl) {
            startTimeUrl = '00:00';
        }
        const finishDateUrl = url.searchParams.get('finish_date');
        let finishTimeUrl = url.searchParams.get('finish_time');
        // if no time, set 23:59
        if (!finishTimeUrl) {
            finishTimeUrl = '23:59';
        }
        if (startDateUrl && startTimeUrl && finishDateUrl && finishTimeUrl) {
            start = new Date(startDateUrl + 'T' + startTimeUrl);
            end = new Date(finishDateUrl + 'T' + finishTimeUrl);
        }

        // extract date as string and set it to display
        const startDateStr = start.toLocaleDateString('ru-RU');
        const finishDateStr = end.toLocaleDateString('ru-RU');
        $('#start-date-display').text(startDateStr);
        $('#finish-date-display').text(finishDateStr);

        const startTime = convertTime(start);
        const endTime = convertTime(end);

        {% if context.current_process %}
            axios.get("/charts/timevserr", {params: {"start_time": startTime, "end_time": endTime, "process_id": "{{ context.current_process.process_id }}"}}).then((r) => {
                const data = r.data;

                servicetimevserrchart.init("transactionTimeVsErrsChart01", data);
            });

            axios.get("/charts/perfomance", {params: {"start_time": startTime, "end_time": endTime, "process_id": "{{ context.current_process.process_id }}"}}).then((r) => {
                const data = r.data;

                performancechart.init("chartTransactionPerf01", data);
            });

            axios.get("/charts/heatmap", {params: {"start_time": startTime, "end_time": endTime, "process_id": "{{ context.current_process.process_id }}"}}).then((r) => {
                const data = r.data;

                heatmapchart.init("chartHeatmap01", data);
            });
        {% else %}
            axios.get("/charts/timevserr", {params: {"start_time": startTime, "end_time": endTime}}).then((r) => {
                const data = r.data;

                servicetimevserrchart.init("transactionTimeVsErrsChart01", data);
            });

            axios.get("/charts/perfomance", {params: {"start_time": startTime, "end_time": endTime}}).then((r) => {
                const data = r.data;

                performancechart.init("chartTransactionPerf01", data);
            });

            axios.get("/charts/heatmap", {params: {"start_time": startTime, "end_time": endTime}}).then((r) => {
                const data = r.data;

                heatmapchart.init("chartHeatmap01", data);
            });
        {% endif %}
    });
</script>
<script>
</script>
{% endblock javascripts %}
