{% extends "layouts/base.html" %}
{% block title %} UI Buttons {% endblock %}

{% block stylesheets %}
<style>
    .card-fill-all-space {
        #border: 1px solid #444;
        height: 100%;
        width: 100%;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="py-4">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item">
                <a href="./sandbox-main-dashboard.html">
                    <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                    </svg>
                </a>
            </li>
            <li class="breadcrumb-item"><a href="/mvp-main-dashboard.html">Проекты</a></li>
            <li class="breadcrumb-item"><a href="/mvp-services.html">Сервисы</a></li>
            <li class="breadcrumb-item"><a href="/mvp-services.html?service_id={{ context.service.service_id }}">Сервис {{ context.service.name }}</a></li>
            <li class="breadcrumb-item"><a href="/mvp-transaction.html?transaction_id={{ context.transaction.transaction_id }}">Транзакция {{ context.transaction.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Запуск {{ str(context.run.run_start).split('.')[0] }}</li>
        </ol>
    </nav>
</div>

<div class="container-flex">
<div class="row equal mb-2">
    <div class="col-7 col-xl-7 col-md-12 mb-2">
        <div class="card border-0 shadow card-fill-all-space">
            <div class="card-body">
                <h2 class="h6 text-gray-400 mb-4">Время выполнения этапов транзакции</h2>
                <div class="card-mid-buffer"></div>
                <div>
                    <canvas width="100%" height="40%" id="stepRunBarChart01"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5 col-xl-5 col-md-12 mb-2">
        <div class="card border-0 shadow card-fill-all-space">
            <div class="card-body">
                <h2 class="h6 text-gray-400">Сводная информация по выполнению</h2>
                <table class="table" id="">
                    <thead class=" text-primary">
                        <tr>
                            <th>
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="fw-extrabold">Локация/Робот</span>
                            </td>
                            <td>
                                <span class="fw-bold mb-2">{{ context.robot.name }}</span>
                                  <div class="small mt-1">
                                  {% if context.transaction.avg_cur == 0 %}
                                    Нет данных или они некорректны
                                  {% else %}
                                    Робот <a href="./mvp-robots.html?robot_id={{ context.robot.robot_id }}"><span class=" fw-extrabold text-tertiary">{{ context.robot.name }}</span></a> выполняет транзакцию<br>на <span
                                    {% if context.transaction.robots[context.robot.robot_id].avg < context.transaction.avg_cur %}
                                        class="text-success fw-bolder">{{ '%.2f' % (100 - context.transaction.robots[context.robot.robot_id].avg * 100 / context.transaction.avg_cur) }}%</span> быстрее других роботов
                                    {% else %}
                                        class="text-warning fw-bolder">{{ '%.2f' % (context.transaction.robots[context.robot.robot_id].avg * 100 / context.transaction.avg_cur - 100) }}%</span> медленнее других роботов
                                    {% endif %}
                                    <a href="#"><i class="text-tertiary">{{font_awesome.render_icon("fas
                                        fa-info-circle")}}</i></a>
                                  {% endif %}
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fw-extrabold">Время выполнения</span>
                            </td>
                            <td>
                                <span class="fw-bold text-success mb-2">{{ '%.2f' % (context.run.run_end - context.run.run_start).total_seconds() }} секунд</span>
                                <div class="small mt-1">
                                    {% if context.run.run_result == "OK" %}
                                        В пределах допустимого диапазона
                                    {% elif context.run.run_result == "WARNING" %}
                                        Превышение допустимого диапазона
                                    {% elif context.run.run_result == "FAIL" %}
                                        Транзакция завершена с ошибкой
                                    {% endif %}
                                    <a href="#"><i class="text-tertiary">{{font_awesome.render_icon("fas fa-info-circle")}}</i></a>
                                </div>
                            </td>
                        </tr>
                        <tr >
                            <td>
                                <span class="fw-extrabold">Количество шагов</span>
                            </td>
                            <td>
                                <span class="fw-bold text-primary mb-2">{{ context.total }} Всего</span>
                                <span>&nbsp;/&nbsp;</span>
                                <span></span><span class="fw-bold text-success mb-2">{{ context.ok }} Success</span>
                                <span>&nbsp;/&nbsp;</span>
                                <span class="fw-bold text-danger mb-2">{{ context.warning }} Warning</span>
                                <span>&nbsp;/&nbsp;</span>
                                <span class="fw-bold text-danger mb-2">{{ context.fail }} Fail</span>
                                <div class="small mt-1">
                                    Ошибки при выполнении этой транзакции <br>возникают в <span class="text-{% if (100 - context.transaction.sla_cur) < context.sla_target %}success{% else %}warning{% endif %} }} fw-bolder">{{ '%.2f' % (100 - context.transaction.sla_cur) }}%</span> запусков
                                    <a href="#"><i class="text-tertiary">{{font_awesome.render_icon("fas fa-info-circle")}}</i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="fw-extrabold">Начало транзакции</span>
                            </td>
                            <td>
                                <span class="fw-bold text-text-primary mb-2">{{ str(context.run.run_start).split('.')[0] }}</span>
                            </td>
                        </tr>
                       <tr>
                            <td>
                                <span class="fw-extrabold">Завершение транзакции</span>
                            </td>
                            <td>
                                <span class="fw-bold text-text-primary mb-2">{{ str(context.run.run_end).split('.')[0] }}</span>
                            </td>
                        </tr>
                       <tr>
                            <td>
                                <span class="fw-extrabold">Лог</span>
                            </td>
                            <td>
                                <button class="btn btn-icon-only text-info" type="button"
                                        data-bs-toggle="modal" data-bs-target="#logModal"
                                        id="logButton"
                                >
                                  <i>{{font_awesome.render_icon("fas fa-lg fa-file-text")}}</i>
                                </button>
                            </td>
                        </tr>
                       <tr>
                            <td>
                                <span class="fw-extrabold">Скриншот</span>
                            </td>
                            <td>
                                <button class="btn btn-icon-only text-info" type="button"
                                        data-bs-toggle="modal" data-bs-target="#screenshotModal"
                                        id="screenshotButton"
                                >
                                  <i>{{font_awesome.render_icon("fas fa-lg fa-image")}}</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Image Modal -->
<div class="modal fade" id="screenshotModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="h6 text-gray-400">Скриншот ошибки выполнения</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="screenshotModalBody">
                <!-- to be fulfilled via JS -->
            </div>
        </div>
    </div>
</div>

<!-- Log Modal -->
<div class="modal fade" id="logModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="h6 text-gray-400">Лог выполнения транзакции</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <pre class="modal-body">
                <code id="logModalBody" class="multiline">
                    <!-- to be fulfilled via JS -->
                </code>
            </pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-body">
                <h2 class="h6 text-gray-400">Этапы выполнения</h2>
                <div class="table-responsive ">
                    <table class="table tablesorter " id="step-runs">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Локация/Робот
                                </th>
                                <th>
                                    Шаг
                                </th>
                                <th>
                                    Время запуска
                                </th>
                                <th>
                                    Время завершения
                                </th>
                                <th>
                                    Длительность
                                </th>
                                <th>
                                    Статус выполнения
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for step in context.steps %}
                            <tr class="table-{% if step.runresult == 'OK' %}info{% elif step.runresult == 'WARNING' %}warning{% else %}danger{% endif %}">
                                <td>
                                    <a href="./mvp-robots.html?robot_id={{ context.robot.robot_id }}">
                                      <span class="text-indigo fw-bold">{{ context.robot.name }}</span>
                                    </a>
                                </td>
                                <td>
                                    <span class="fw-bold">{{ step.name }}</span>
                                </td>
                                <td>
                                    <span class="fw-bold">{{ str(step.runstart).split('.')[0] }}</span>
                                </td>
                                <td>
                                    <span class="fw-bold">{{ str(step.runend).split('.')[0] }}</span>
                                </td>
                                <td>
                                    <span class="fw-bold">{{ '%.2f' % (to_dt(step.runend) - to_dt(step.runstart)).total_seconds() }} секунд</span>
                                </td>
                                <td>
                                    {% if step.runresult == "OK" %}
                                        <span class="text-success fw-bolder">Success</span>
                                    {% elif step.runresult == "WARNING" %}
                                        <span class="text-warning fw-bolder">Warning</span>
                                    {% elif step.runresult == "FAIL" %}
                                        <span class="text-danger fw-bolder">Fail</span>
                                    {% endif %}
                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ config.ASSETS_ROOT }}/js/primoart-charts/mvp-transaction-charts.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/primoart-datatables/primoart-datatables.js"></script>
<script>
document.getElementById('logButton').addEventListener('click', function() {
    const currentTime = new Date().toLocaleString();
    const logContent = `Log will be loaded dynamically here via JS when implemented. Current time: ${currentTime}`;
    document.getElementById('logModalBody').innerText = logContent;
});

document.getElementById('screenshotButton').addEventListener('click', function() {
    const currentTime = new Date().toLocaleString();
    const screenshotContent = `Screenshot will be loaded dynamically here via JS when implemented. Current time: ${currentTime}`;
    document.getElementById('screenshotModalBody').innerText = screenshotContent;
});
</script>

<script>
    $(function() {
        console.log("Page loaded!");

        sandboxMainDashTable.init('step-runs');

        axios.get("/data/runs", {params: {run_id: "{{ context.run.transaction_run_id }}"}}).then((r) => {
            const data = r.data;

            steprunbarchart.init("stepRunBarChart01", data);
        });
    });
</script>
{% endblock javascripts %}
